/* Fonts */
body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Creepster', 'Times New Roman';
  font-size: 5.625em;
  line-height: 2;
  color: black;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted;
  color: #ED5107;
  background-color: #ED5107;
  border-bottom: none;
  margin: 150px auto;
  opacity: 1;
}

a {
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: black;
}

/* Navigation Bar */
.navbar {
  background-color: #F89D13;
}

.nav-tabs {
  border-bottom: none;
}

.dropdown-menu {
  background-color: #000000;
  border: 1px solid #000000;
}

.dropdown-menu a {
  color: #F89D13;
}

.dropdown-menu a:hover {
  background-color: #F89D13;
  color: black;
  border: none;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.navbar-default .navbar-toggle:hover {
  border-color: black
}

/* Intro */
.top-container {
  background-color: #F89D13;
  height: 90vh;
}

@media (min-height: 750px) {
  .top-container {
    height: 60vh;
  }
}

.intro {
  width: 45%;
  margin: auto;
}

.paulie {
  padding-top: 100px;
}

/* Body */
.middle-container {
  background-color: black;
  color: #F89D13;
  padding-top: 75px;
  padding-bottom: 100px;
  width: 100%;
  position: relative;
}

.bottom-container {
  color: black;
  background-color: #F89D13;
  padding: 50px 0 20px;
}

.webdeveloper {
  text-decoration: underline;
}

/* Accordion */
.accordion-button {
  background-color: #F89D13;
  color: black;
}

.accordion-button[aria-expanded="true"] {
  background-color: #F89D13;
  color: black;
}

.accordion-button:focus {
  background-color: #F89D13;
  color: black;
}

.accordion-button:hover {
  background-color: black;
  color: #F89D13;
}

.accordion-button:active {
  border-color: none;
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ED5107'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg)
}

.accordion-body {
  background-color: black;
}

.accordion-item {
  background-color: black;
}

.workExpUl {
  text-align: left;
  list-style-position: inside;
}

/* Carousel */
.photography-table, .coding-table {
  margin-left: auto;
  margin-right: auto;
}

/* Images */
.skeleton-hand {
  position: relative;
  width: 250px;
  bottom: 1px;
}

.me {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  position: relative;
}

.teddy-eye {
  max-width: 40%;
  padding-bottom: 5%;
}

/* Footer */
.footer-link {
  color: #ED5107;
}

.contact-me {
  width: 60%;
  margin: 40px auto 60px;
}

/* Buttons */
.btn {
  background: #ED5107;
  font-family: "Merriweather";
  color: #000000;
  text-decoration: none;
}

.btn:hover {
  background: #F89D13;
  text-decoration: none;
}

.copyright {
  color: #ED5107;
  font-size: 0.75rem;
}

.copyright:hover {
  color: black;
}

/* Icons */
.instagram-icon {
  color: Black;
}

.linkedin-icon {
  color: Black;
}

.facebook-icon {
  color: Black;
}
