body {
  margin: 0;
  background-color: #000000;
  color: white;
}

/* Only center the button using this container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to center the button vertically */
}

.circular-button {
  width: 10rem;
  height: 10rem;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 2.5rem;
  font-family: 'Times New Roman', serif;
  text-align: center;
  line-height: 10rem; /* Vertically center the text */
  cursor: pointer;
  animation: pulsate 3.14s infinite ease-in-out;
  transition: transform 0.3s ease;
}

/* Keyframes for pulsating and color transition */
@keyframes pulsate {
  0% {
      background-color: black;
      color: white;
      transform: scale(1);
  }
  50% {
      background-color: white;
      color: black;
      transform: scale(1.2);
  }
  100% {
      background-color: black;
      color: white;
      transform: scale(1);
  }
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: Black;
  Color: White;
  text-align: center;
  padding-top: 20px;
}
