body, html {
    min-height: 100vh;
    margin: auto;
    padding-left: 10px;
}

.main {
text-align: left;
text-justify: auto;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 10px;
}
