body {
  background-color: black;
  color: cornsilk;
  margin: 25px;
  font: sans-serif;
}
a:link {
  color: cornsilk;
}
a:visited {
  color: silver;
}
hr {
  border-color: cornsilk;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 25px;
}
li {
  list-style-type: square;
}
