header {
  justify-content: center;
  color: cornsilk;
  font-family: 'Times New Roman', Georgia, serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 10px;
  padding: 0 0 0 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
body {
  background-color: black;
  color: cornsilk;
  margin: 0 auto;
  padding: 25px;
  font-family: 'Times New Roman', Georgia, serif;
  text-align: center;
}
a:link {
  color: cornsilk;
}
a:visited {
  color: silver;
}
hr {
  border-color: cornsilk;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 25px;
}
a:hover {
    color: black;
    background-color: cornsilk;
}
ul {
  display: contents;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.workexp {
  margin-left: auto;
  margin-right: auto;
}
