/* Body */
div {
  font-family: "Times New Roman";
}

#main1 {
  padding-top: 10%;
}

.intro-heading {
  padding-top: 30%;
  padding-bottom: 15%;
}

.intro-para {
  padding-top:15%;
  padding-bottom: 25%;
}

/* Headings */
h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  padding-bottom: 5%;
}
.h5font {
  font-family: "Times New Roman";
}

.intro-heading, .intro-para {
  text-align: center;
}

.intro-para {
  font-size: 1.5rem;
}

/* Navigation Bar */
nav {
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 16px;
}

.dropdown-menu {
  background-color: #FFF8DC;
}

.dropdown-menu a {
  color: #000000;
}

footer {
  font-family: "Times New Roman";
  background-color: Black;
  Color: Cornsilk;
  text-align: center;
}
