header {
  justify-content: center;
  color: cornsilk;
  font: sans-serif;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: black;
  color: cornsilk;
  margin: 0 auto;
  padding: 25px;
  font: sans-serif;
  text-align: center;

}
a:link {
  color: cornsilk;
}
a:visited {
  color: silver;
}
hr {
  border-color: cornsilk;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 25px;
}
li {
  list-style-type: square;
}
