/* Body  */
body {
  background-image: url("../images/lady-stkilda.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

.main {
  color: white;
}

.resume {
  margin: auto;
  color: white;
}

/* Navbar / Dropdown Index Button */
.navbar {
  width: 100%;
  background-color: black;
}

.dropbtn {
  font-family: 'Times New Roman';
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 1.15rem;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

.poetry-link {
  float: right;
  font-family: 'Times New Roman';
  background-color: black;
  color: white;
  font-size: 1.15rem;
  padding: 16px;
  border: none;
  text-decoration: none;
}

/* Accordion */

li {
  font-size: 0.9rem;
}

.accordion-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.accordion {
  background-color: #000;
  font-family: 'Times New Roman';
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  width: 100%;
}

.active, .accordion:hover {
  background-color: #fff;
  color: #000;
}

.panel {
  padding: 0 18px;
  background-color: black;
  display: none;
  overflow: visible;
  text-align: left;
}

.accordion:after {
  content: '\02795';
  font-size: 9px;
  background-color: #ffffff;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.workExpHeading {
  text-align: center;
  font-weight: bold;
}
