/* Fonts */
body {
    background-color: #F89D13;
    margin: 0;
}

 h2, h3 {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  padding-bottom: 20px;
}

h1 {
  font-family: 'Creepster';
  font-size: 5.625em;
  line-height: 2;
  color: black;
  margin: 0;
}

h2 {
  padding-bottom: 10px;
}

p {
  line-height: 2;
}

a {
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

/* Horizontal Lines */
hr {
  border: dotted;
  color: #ED5107;
  background-color: #ED5107;
  border-bottom: none;
  margin: 150px auto;
  opacity: 1;
}

/* Navbar / Dropdown Index Button */

.dropbtn {
  font-family: 'Times New Roman';
  background-color: #F89D13;
  color: black;
  padding: 16px;
  font-size: 1.15rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 100px;
  max-height: 500px;
  overflow-y: scroll;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
  z-index: 1;
}

.dropdown-content a {
  color: #F89D13;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F89D13;
  color: black;
}

.poetry {
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 1rem;
  float: right;
  padding-top: 6px;
  background-color: #F89D13;
}


/* Intro Container */
.intro-container {
  background-color: #F89D13;
  height: 100%;
  text-align: center;
  position: relative;
  margin-top: 0;
}

.intro {
  width: 45%;
  margin: auto;
}

.paulie {
  padding-top: 100px;
}

.hihi {
  padding-top: 20px;
}
.profile {
  text-align: center;
  background-color: black;
  color: #F89D13;
}
a
/* Skills Container */
i {
  padding: 10px;
}

.skills-container {
  background-color: black;
  color: #F89D13;
  padding-top: 75px;
  padding-bottom: 100px;
  width: 100%;
  position: relative;
}

.socials-container {
  color: black;
  background-color: #F89D13;
  padding: 50px 0 20px;
}

.webdeveloper {
  text-decoration: underline;
}

.skills-table {
  text-align: center;
  margin: auto;
}

/* Skills Carousel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  color: #F89D13;
  background-color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #F89D13;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #F89D13;
  color: black;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #F89D13;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Experience Accordion */
li {
  font-size: 0.9rem;
}

.accordion-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.accordion {
  background-color: #F89D13;
  font-family: 'Times New Roman';
  font-size: 1rem;
  color: black;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: 0.4s;
  width: 100%;
  padding: 18px 0 0 18px;
}

.active, .accordion:hover {
  background-color: #F89D13;
  color: #000;
}

.panel {
  padding: 0 18px;
  background-color: black;
  display: none;
  overflow: visible;
  text-align: left;
}

.accordion:after {
  content: '\02795';
  font-size: 9px;
  background-color: #F89D13;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.workExpHeading {
  text-align: center;
  font-weight: bold;
}

/* Images */

.me {
  padding-top: 20px;
  border-radius: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
  transition-duration: 2s;
  transition-property: transform;
}

.me:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.teddy-eye {
  max-width: 40%;
  padding-bottom: 5%;
}

/* Footer */
.footer-link {
  color: #ED5107;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: #F89D13;
  text-align: center;
}

.socials-container {
  text-align: center;
}

/* Buttons */
.btn {
  background: #ED5107;
  font-family: "Merriweather";
  color: #000000;
  text-decoration: none;
  padding: 18px;
}

.btn:hover {
  background: #F89D13;
  text-decoration: none;
}

.copyright {
  color: #ED5107;
  font-size: 0.75rem;
}

.copyright:hover {
  color: black;
}

/* Icons */
.instagram-icon {
  color: Black;
}

.linkedin-icon {
  color: Black;
}

.facebook-icon {
  color: Black;
}
